if SHIELD_FIRST_LEFT

config ZMK_KEYBOARD_NAME
    default "first"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FIRST_LEFT || SHIELD_FIRST_RIGHT

config ZMK_SPLIT
    default y

endif
